[submodule "9f5c127"]
	path = 9f5c127
	url = git@github.com:joshbeard/puppet-login_defs.git
[submodule "modules/login_defs"]
	path = modules/login_defs
	url = git@github.com:joshbeard/puppet-login_defs.git
