[submodule "modules/login_defs"]
	path = modules/login_defs
	url = git@github.com:joshbeard/puppet-login_defs.git
[submodule "modules/augeasproviders_core"]
	path = modules/augeasproviders_core
	url = git@github.com:hercules-team/augeasproviders_core.git
[submodule "modules/augeasproviders_pam"]
	path = modules/augeasproviders_pam
	url = https://github.com/hercules-team/augeasproviders_pam
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git@github.com:saz/puppet-ssh.git
[submodule "modules/concat"]
	path = modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
